<!DOCTYPE html>
<html>

<head>
    <title>Simple Chat App</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body style="background: #d18715;
background: linear-gradient(39deg,#d18715 0%, #e3dda8 80%);
background: -webkit-linear-gradient(39deg,#d18715 0%, #e3dda8 80%);
background: -moz-linear-gradient(39deg,#d18715 0%, #e3dda8 80%);">
    <div class="container">
        <div id="content"></div>
    </div>

    <script type="text/template" id="message">
        <li class="<%= position %>">
            <div class="<%= type %>">
                <%= message %> <br/> 
                <div style="float:right">
                    <span style="font-size: 10px; color:black;"><%= time %></span>
                    <span style="font-size: 10px; color:black;"><%= username %></span>
                </div>
            </div>
        </li>
    </script>

    <script type="text/template" id="chatUsers">
        <center>
            <div style="color: white; font-size: 20px;">
                My Room
            </div>
        </center>
        <li id="everyone">
            <img src="https://cdn0.iconfinder.com/data/icons/social-connections-1/148/20-256.png" alt="" style="width: 50px;">
            <div class="info">
                <div class="user">Chat Room</div>
                <div class="message-alert label label-danger">1</div>
            </div>
        </li><br/>
        <center>
        <div style="color: white; font-size: 20px;">
            Active Users
        </div>
    </center>
        <% if (_.isEmpty(users)) { %>
           
            <% } %>
                <% _.each(users, function(user) { %>
                    <li id="<%= user.username %>">
                        <img src="https://png.pngitem.com/pimgs/s/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="" style="width: 50px;">
                        <!-- <i class="fa fa-user fa-fw user-icon"></i> -->
                        <div class="info" >
                            <div class="user">
                                <%= user.username %>
                            </div>
                            <div class="status <%= user.status %>">
                                <%= user.status %>
                            </div>
                            <div class="message-alert label label-danger">1</div>
                        </div>
                    </li>
                    <% }); %>
    </script>


    <script type="text/template" id="receiver">
        <div class="avatar">
            <% if (receiver == 'everyone') { %>
                    <img src="https://cdn0.iconfinder.com/data/icons/social-connections-1/148/20-256.png" alt="" style="width: 50px;">
                <% } else { %>
                    <img src="https://png.pngitem.com/pimgs/s/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="" style="width: 50px;">
                    <% } %>
        </div>


        <div class="info" >
            <% if (receiver == 'everyone') { %>
                <div class="name">Chat room</div>
                <% } else { %>
                    <div class="name">
                        <%= receiver %>
                    </div>
                    <% } %>
        </div>
  

     <!--jquery-->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>


    </script>
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/underscore-min.js" type="text/javascript"></script>
    <script src="assets/js/backbone-min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/socket.io-1.4.5.js"></script>

    <script src="modules/message-sender.js" type="text/javascript"></script>

    <script src="app/main.js" type="text/javascript"></script>
    <script src="app/home.js" type="text/javascript"></script>
    <script src="app/chat.js" type="text/javascript"></script>
    <script src="app/utils.js" type="text/javascript"></script>

    <script type="text/javascript">
        App.Utils.templateLoader(["HomeView", "ChatView"], function () {
            app = new App.Router();
            Backbone.history.start();
        });


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/index.css">
</body>

</html>