<div class="ui mt-5">
    <div class="left-menu">
        
    <div style="color: white; padding: 10px; margin-left: 70px;">
        <img src="https://cdn1.iconfinder.com/data/icons/ui-color1/512/Untitled-3-256.png" alt="" style="width: 40px;">
        <%= username %> (you)
    </div>

        <menu class="list-friends">
        </menu>
    </div>
    <div class="chat">
        <div class="top">
            <div class="receiver">
                <div class="avatar">
                    <img src="https://cdn0.iconfinder.com/data/icons/social-connections-1/148/20-256.png" alt="" style="width: 50px;">
                </div>
                <div class="info">
                    <div class="name" style="font-size: 19px;">Chat Room</div>
                </div>
            </div>
        </div>
        <div class="chat-body">
            <ul class="messages" id="messages">
                    
            </ul>
          
        </div>
        <div >
            <p class="typing" style="margin-left:20px"></p>
        </div>
        <div class="write-form">
            <form>
                <input id="input-message" style="font-size: 15px; width: 80%; border: 1px solid black;" type="text" placeholder="Type your message here..." autocomplete="off"/>
                <button class="btn" id="send" type="submit" style="float: right;">
                    <img src="https://cdn4.iconfinder.com/data/icons/office-and-business-conceptual-flat/169/14-256.png" alt="send icon" style="width: 50px; margin-right: 35px;margin-top: 20px;"></button>
            </form>

        </div>
    </div>
</div>