<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger hide">
            Name already used!
        </div>
        <div class="panel" style="margin-top: 150px;">
            <div class="state"><br>
                <h1>Enter your name!</h1>
            </div>
            <div class="form">
                <input class="text-info" name="username" id="username" type="text" autocomplete="off" required="true" style="color: white;"/>
                <button class="login" id="join" style="width: 50%;">Enter Chat Room</button>
            </div>

        </div>
    </div>
</div>